.card-display {
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 50px;
  padding: 10px;
}
