.order-history-card {
  max-width: 1440px;
  width: 100% auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #e5cf87;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.order-history-card:hover {
  background-color: #eedfaf;
}

.order-history-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.order-history-table,
.order-history-date-time {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #333;
}

.view-btn {
  width: 100px;
  height: 34px;
  background-color: #e5cf87 !important;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}
.view-btn:hover {
  background-color: #eedfaf !important;
}
@media (max-width: 480px) {
  .order-history-card {
    width: 100%;
    padding: 8px;
  }
  .order-history-details {
    flex-direction: column;
    align-items: flex-start;
  }
  .view-btn {
    padding: 5px 10px;
    width: 100%;
    margin-top: 10px;
    overflow-y: hidden;
  }
}
