.order-display {
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  user-select: none;
  font-family: "Poppins", sans-serif;
}
.order-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0px 60px;
}

.order-header h2 {
  font-size: 24px;
  margin: 0px;
  color: #333;
  overflow-y: hidden;
}

.table-filter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.table-filter span {
  font-size: 16px;
  font-weight: 500;
}

.table-select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.order-grid {
  display: grid;

  gap: 20px;
}

.order-display p {
  font-size: 18px;
  color: #666;
  text-align: center;
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

.modal-box {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 551px;
  height: auto;
  overflow-y: hidden;
  position: absolute;
  top: 80px;
  cursor: pointer;
  user-select: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.modal-header {
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 49px;
  background-color: #e5cf87;
}

.modal-box h3 {
  font-family: "poppins", sans-serif;
  overflow-y: hidden;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-left: 30px;
  margin-bottom: 0px;
}
.modal-box i {
  font-size: 25px !important;
  -webkit-text-stroke: 2px;
  color: #333;
  margin-bottom: 15px;
  position: relative !important;
}

.modal-box p {
  margin: 10px 0;
  font-size: 16px;
  color: #666;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.modal-btn {
  padding: 10px 20px !important;
  border: none !important;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Poppins", sans-serif;
}
.table thead tr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.table tfoot tr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.table th {
  background-color: white !important;
  border: none !important;
  padding: 8px;
  vertical-align: middle;

  text-align: center;
}
.table td {
  text-align: left;
  border: none !important;
  padding: 20px !important;
  vertical-align: middle;
  font-weight: 500;
}

td.index-item {
  border: collapse !important;
  border-bottom: none;
  border-top: none;
}
.table tfoot td {
  padding: 8px !important;
}

.cancel-btn {
  background-color: #eedfaf;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cancel-btn:hover {
  background-color: #d0c292;
}

.send-btn {
  background-color: #eedfaf;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.send-btn:hover {
  background-color: #d0c292;
}

.edit-btn {
  background-color: #eedfaf !important;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-btn:hover {
  background-color: #d0c292;
}

i.bi.bi-x.delete-item::before {
  font-size: 20px;
  border: 1px dashed black;
  margin-right: 10px;
  padding: 5px;
}
.order-notes-section {
  margin: 10px;
  display: flex;
  align-items: top;
  gap: 10px; /* Space between label and content */
}

.notes-label {
  font-family: "M Plus 1p", sans-serif;
  padding: 8px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap; /* Prevent label from wrapping */
}

.notes-content {
  flex: 1; /* Take up remaining space */
  background-color: #fff; /* White background */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  max-width: 435px;
  height: 83px;
  display: flex;
  align-items: top;
  white-space: pre-wrap; /* Preserve line breaks */
}
