.table-card-display {
  padding: 50px 100px;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.table-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 90px 70px;
  padding: 20px;
}
.tablecard.add-table-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background: transparent;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-table-card:hover {
  background: #e0e0e0;
}

.add-table-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.add-table-content .bi-plus-circle {
  font-size: 30px;
  color: black;
}

.text-add {
  font-size: 16px;
  color: #333;
}

.alert-overlay-add-table {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.alert-box-add-table {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 630px;
  border: 1px solid black;
  position: relative;
  margin-top: 100px;
}
.alert-box-add-table h3 {
  margin: 35px 0px;
  font-size: 18px;
  overflow-y: hidden;
}
.alert-box-input-table {
  width: 70%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  outline-color: black;
  background-color: #d9d9d9;
}

.alert-box-add-table .bi-x-lg {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}
.alert-box-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alert-box-buttons button {
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.alert-box-buttons button:first-child {
  background-color: #d9d9d9;
  color: black;
  padding: 8px 16px;
}

.alert-box-buttons button:first-child:hover {
  background-color: #d9d9d9a7;
}

.alert-box-buttons button:last-child {
  background-color: #d9d9d9;
  color: black;
}

.alert-box-buttons button:last-child:hover {
  background-color: #d9d9d9a7;
}

@media screen and (max-width: 768px) {
  .table-card-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px 0px;
    padding: 0px;
  }

  .table-card-display {
    padding: 0px;
  }
}
@media screen and (max-width: 480px) {
  .table-card-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0px 0px;
    padding: 0px;
  }

  .table-card-display {
    padding: 0px;
  }
}
